.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-content {
    background-color: #fff; 
    padding: 30px;
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    max-width: 90%; 
    text-align: center;
    position: relative; 
}

.modal-content h3 {
    margin-bottom: 20px; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
}

.modal-content input {
    width: 100%; 
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}

.modal-content button {
    background-color: #03d650; 
    color: white; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 5px; 
    transition: background-color 0.3s ease; 
}

.modal-content button:hover {
    background-color: #00b330; 
}

.modal-content button[type="button"] {
    background-color: #dc3545; 
}

.modal-content button[type="button"]:hover {
    background-color: #c82333; 
}

.form-text {
    margin-top: 0.25rem; /* Adjust spacing */
    font-size: 0.875rem; /* Smaller text */
    color: #6c757d; /* Bootstrap muted text color */
}
